<div class="container mt-4">
  <%= render "layouts/tag_form" %>
  <div class="card p-4 mb-4">
  <h2 class="text-center text-main-color">レビュー一覧</h2>
    <h4 class="text-center text-sub-color">
      <%= link_to "新着順", admin_reviews_path(@review, sort: 'created_at DESC'), class: "btn btn-link" %> |
      <%= link_to "評価の高い順", admin_reviews_path(@review, sort: 'star DESC'), class: "btn btn-link" %> |
      <%= link_to "いいね数の多い順", admin_reviews_path(@review, sort: 'favorites DESC'), class: "btn btn-link" %>
    </h4>

    <table class="table table-striped mt-3">
      <thead>
        <tr class="table-warning text-main-color">
          <th></th>
          <th>投稿者</th>
          <th>病院名</th>
          <th>評価</th>
          <th>登録日</th>
          <th>いいね数</th>
          <th>コメント</th>
          <th>投稿日</th>
          <th>詳細</th>
        </tr>
      </thead>
      <tbody>
      <% @reviews.each do |review| %>
        <tr class="text-sub-color">
          <td>
            <% if review.user.image.attached? %>
              <%= image_tag review.user.image, size: "40x40", class: "rounded-circle" %>
            <% else %>
              <%= image_tag "no_image.jpg", size: "40x40", class: "rounded-circle" %>
            <% end %>
          </td>
          <td><%= link_to review.user.name, admin_user_path(review.user), class: "text-decoration-none text-primary" %></td>
          <td><%= link_to review.hospital.name, admin_hospital_path(review.hospital) %></td>
          <td>
            <div id="review_rating_<%= review.id %>"></div>
            <script>
              var elem = document.getElementById("review_rating_<%= review.id %>");
              var opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  readOnly: true,
                  score: <%= review.rating %>
              };
              if (elem) elem.innerHTML = "";
              raty(elem,opt);
            </script>
            <p class="text-muted">（<%= review.rating %> / 5）</p>
          </td>
          <td><%= review.created_at.strftime("%Y-%m-%d") %></td>
          <td>♥<%= review.favorites.count %></td>
          <td><%= review.body.truncate(15, omission: ' [...]') %></td>
          <td><%= link_to "編集", edit_admin_hospital_review_path(review.hospital, review) %></td>
          <td><%= link_to "詳細", admin_hospital_review_path(review.hospital, review) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
