<% if @hospital.errors.any? %>
  <%= @hospital.errors.count %>件のエラーが発生しました
  <ul>
    <% @hospital.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render "layouts/tag_form" %>
<div class="hospital-background d-flex justify-content-center align-items-center min-vh-100 mb-4">
  <div class="card shadow-lg border-0 hospital-form">
    <h2 class="text-center my-4 table-warning">病院編集</h2>
    <%= form_with model: @hospital, url: admin_hospital_path(@hospital), method: :patch, multipart: true do |f| %>
      <div class="card-body">
        <div class="text-center mb-3">
          <strong><%= f.label :main_image, "見出し画像(1枚)" %></strong><br />
          <% if @hospital.main_image.attached? %>
            <div class="mb-2">
              <%= image_tag @hospital.main_image, class: "img-fluid rounded shadow-sm", style: "max-width: 300px;" %><br />
              <%= link_to "この画像を削除", remove_main_image_admin_hospital_path(@hospital), method: :delete, data: { confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-outline-danger mt-2" %>
            </div>
          <% end %>

          <%= f.file_field :main_image, accept: "image/*", class: "form-control-file" %>
        </div>

        <!-- サブ画像表示・添付 -->
        <div class="sub-images-container d-flex flex-wrap gap-2">
          <strong><%= f.label :sub_images, "サブ画像(複数選択可)" %></strong><br />
          <% if @hospital.sub_images.attached? %>
            <div class="sub-image-item mb-2">
              <% @hospital.sub_images.each do |image| %>
                <%= image_tag image, class: "rounded shadow-sm image-style" %>
                <%= link_to "x", remove_sub_image_admin_hospital_path(@hospital, image_id: image.id), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-sm btn-danger position-absolute top-0 end-0" %>
              <% end %>
            </div>
          <% end %>
          <%= f.file_field :sub_images, multiple: true, accept: "image/*", class: "form-control-file" %>
        </div>
        <div class="mb-3">
          <strong><%= f.label :name, "施設名" %></strong>
          <p class="text-muted mb-0"><%= f.text_field :name, class: "form-control" %></p>
        </div>
        <div class="mb-3">
          <strong><%= f.label :address, "住所" %></strong>
          <p class="text-muted mb-0"><%= f.text_area :address, class: "form-control" %></p>
        </div>
        <div class="mb-3">
          <strong><%= f.label :phone_number, "連絡先" %></strong>
          <p class="text-muted mb-0"><%= f.text_field :phone_number, class: "form-control" %></p>
        </div>
        <div class="mb-3">
          <strong><%= f.label :opening_hours, "診察時間" %></strong>
          <p class="text-muted mb-0"><%= f.text_area :opening_hours, class: "form-control" %></p>
        </div>
        <div class="mb-3">
          <strong><%= f.label :aninal_types, "診察対応動物" %></strong>
          <p class="text-muted mb-0"><%= f.text_field :animal_types, class: "form-control" %></p>
        </div>
              <div class="mb-3">
        <strong>現在のタグ</strong>
        <div class="d-flex flex-wrap mt-2">
          <% @hospital.tags.order(created_at: :asc).each do |tag| %>
            <div class="position-relative mr-2 mt-2">
              <span class="badge text-primary border"><%= tag.tag %></span>
              <%= link_to "&times;".html_safe, remove_tag_admin_hospital_path(@hospital, tag_id: tag.id),
              method: :delete, data: { confirm: "「#{tag.tag}」を削除しますか？" },
              class: "btn btn-sm btn-danger position-absolute tag-style" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="mb-3 mb-3">
        <p>タグを選択</p>
        <% @tags.each do |tag| %>
          <%= check_box_tag "hospital[tag_ids][]", tag.id, @hospital.tags.include?(tag) %>
          <%= tag.tag %>
        <% end %>
        <div class="mt-3">
          <h4>新しいタグを入力（カンマ区切りで複数可）</h4>
          <%= text_field_tag "hospital[new_tag_names]", nil, placeholder: "例）夜間対応, 駐車場あり, 先生が優しい", class: "form-control" %>
        </div>
      </div>
      <div class="d-flex mb-3">
        <%= f.submit "更新", class: "btn btn-warning w-50" %>
        <%= link_to "削除", admin_hospital_path(@hospital), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger w-50" %>
      </div>
    <% end %>
    <div class="d-flex mb-3">
      <%= link_to "病院一覧へ", admin_hospitals_path, class: "btn btn-link-color w-50" %>
      <%= link_to "病院詳細へ", admin_hospital_path(@hospital), class: "btn btn-link-color w-50" %>
    </div>
  </div>
</div>
