<div class="container mt-4">
  <%= render "layouts/tag_form" %>
  <div class="card shadow-lg p-4 mb-4">
    <h1 class="text-center text-main-color">病院一覧</h1>


    <table class="table table-striped text-center mt-3">
      <thead>
        <tr class="table-color text-main-color">
          <th>病院名</th>
          <th>住所</th>
          <th>電話番号</th>
          <th>登録日</th>
          <th>レビュー件数</th>
          <th>平均評価</th>
          <%
=begin%>
 <th>公開状態</th> 
<%
=end%>
          <th>編集</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
      <% @hospitals.each do |hospital| %>
        <tr class="text-sub-color">
          <td><%= link_to hospital.name, admin_hospital_path(hospital) %></td>
          <td><%= hospital.address %></td>
          <td><%= hospital.phone_number %></td>
          <td><%= hospital.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= hospital.reviews.count %></td>
          <td><p class="text-muted">平均：<%= hospital.average_rating %> / 5</p></td>
          <%
=begin%>
 <td><p>△△</p></td> 
<%
=end%>
          <td><%= link_to "編集", edit_admin_hospital_path(hospital.id), class: "btn btn-primary btn-sm" %></td>
          <td><%= link_to "削除", admin_hospital_path(hospital.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
