<h1>レビュー編集ページ</h1>
<% if @review.errors.any? %>
  <%= @review.errors.count %>件のエラーが発生しました
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container mt-4">
  <%= form_with model: @review, url: public_hospital_review_path(@review.hospital, @review), method: :patch do |f| %>

  <div class="md-3">
    <%= f.label :cleanliness_comment, "清潔さ" %>
    <%= f.text_field :cleanliness_comment, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :doctor_comment, "先生の対応" %>
    <%= f.text_field :doctor_comment, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :staff_comment, "スタッフの対応" %>
    <%= f.text_field :staff_comment, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :price_comment, "料金" %>
    <%= f.text_field :price_comment, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :waiting_comment, "待ち時間" %>
    <%= f.text_field :waiting_comment, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :title, "レビュータイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :body, "総合評価" %>
    <%= f.text_area :body, row: 5, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :animal_comment, "動物目線でひとこと！(任意)" %>
    <%= f.text_field :animal_comment, class: "form-control" %>
  </div>

  <div class="my-3">
    <%= f.submit "更新", class: "btn btn-warning" %> |
    <%= link_to "削除", public_hospital_review_path(@review.hospital, @review), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
  </div>
  <% end %>

  <%= link_to "詳細に戻る", public_hospital_review_path(@review.hospital, @review), class: "btn btn-warning" %> 
  <%= link_to "一覧に戻る", public_hospital_reviews_path, class: "btn btn-warning" %>
</div>


