<h1>レビュー投稿ページ</h1>
<% if @review.errors.any? %>
  <%= @review.errors.count %>件のエラーが発生しました
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container mt-4">
  <%= form_with model: @review, url: public_reviews_path, method: :post do |f| %>

  <div class="mb-3">
    <%= f.label :cleanliness_comment, "清潔さ" %>
    <%= f.text_area :cleanliness_comment, row: 2, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :doctor_comment, "先生の対応" %>
    <%= f.text_area :doctor_comment, row: 2, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :staff_comment, "スタッフの対応" %>
    <%= f.text_area :staff_comment, row: 2, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :price_comment, "料金" %>
    <%= f.text_area :price_comment, row: 2, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :waiting_comment, "待ち時間" %>
    <%= f.text_area :waiting_comment, row: 2, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :body, "総合評価" %>
    <%= f.text_area :body, row: 5, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :animal_comment, "動物目線でひとこと！(任意)" %>
    <%= f.text_area :animal_comment, row: 2, class: "form-control" %>
  </div>
    
    <%= f.submit "レビューを投稿する" %>
  <% end %>
</div>

