<h1>レビュー詳細画面</h1>

<div class="container mt-4">
  <div class="mb-3">
    <strong>清潔さ</strong>
    <p><%= @review.cleanliness_comment %></p>
  </div>

  <div class="mb-3">
    <strong>先生の対応</strong>
    <p><%= @review.doctor_comment %></p>
  </div>

  <div class="mb-3">
    <strong>スタッフの対応</strong>
    <p><%= @review.staff_comment %></p>
  </div>

  <div class="mb-3">
    <strong>料金</strong>
    <p><%= @review.price_comment %></p>
  </div>

  <div class="mb-3">
    <strong>待ち時間</strong>
    <p><%= @review.waiting_comment %></p>
  </div>

  <div class="mb-3">
    <strong>レビュータイトル</strong>
    <p><%= @review.title %></p>
  </div>

  <div class="mb-3">
    <strong>総合評価</strong>
    <p><%= @review.body %></p>
  </div>


  <div class="mb-3">
    <strong>動物目線のひとこと</strong>
    <p><%= @review.animal_comment %></p>
  </div>

  <% if user_signed_in? && current_user == @review.user %>
    <%= link_to "編集", edit_public_review_path(@review), class:"btn btn-warning" %> |
    <%= link_to "削除", public_review_path(@review), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
  <% end %>
</div>