<div class="container mt-4">
  <%= render "layouts/tag_form" %>
  <div class="card shadow-lg p-4 mb-4">
    <% if params[:tag_id].present? && @tag %>
      <h1 class="text-center"><%= "#{@tag.tag} の検索結果" %></h1>
    <% else %>
      <h2 class="text-center text-main-color">すべてのタグ</h2>
    <% end %>
    <hr>
    <% if @reviews.present? %>
      <div class="row">
        <% @reviews.each do |review| %>
          <div class="col-lg-4 col-md-6 md-4 mb-4 text-sub-color">
            <div class="card h-100 shadow-sm">
              <% if review.hospital&.main_image.attached? %>
                <%= image_tag review.hospital.main_image, class: "card-img-top", alt: review.hospital.name %>
              <% end %>
              <div class="card-body">
                <% review.tags.each do |tag| %>
                  <span class="badge text-primary"><%= tag.tag %></span>
                <% end %>
                <h5><%= link_to review.hospital.name, public_hospital_path(review.hospital) %></h5>
                <div id="review_rating_<%= review.id %>"></div>
                  <script>
                    var elem = document.getElementById("review_rating_<%= review.id %>");
                    var opt = {
                        starOn: "<%= asset_path('star-on.png') %>",
                        starOff: "<%= asset_path('star-off.png') %>",
                        starHalf: "<%= asset_path('star-half.png') %>",
                        readOnly: true,
                        score: <%= review.rating %>
                    };
                    if (elem) elem.innerHTML = "";
                    raty(elem,opt);
                  </script>
                <% if @tags.present? %>
                  <span class="badge text-primary border"><%= @tag.tag %></span>
                <% end %>
                <p class="card-text"><%= truncate(review.body, legth: 15) %></p>
                <div id="review_<%= review.id %>" class="review-item">
                  <div class="favorite-btn"><%= render "public/favorites/favorite-btn", review: review %></div>
                </div>
                <p class="card-text small">
                  ✏️<%= link_to "#{review.comments.count} コメント", public_hospital_review_path(review.hospital, review) %>
                </p>
              <%= link_to "レビュー詳細", public_hospital_review_path(review.hospital, review), class: "btn btn-primary" %>
              </div>
              <div class="card-footer text-muted small">
                投稿日: <%= review.created_at.strftime("%Y-%m-%d") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-center text-muted">該当する結果はありません。</p>
    <% end %>
  </div>
</div>
