<h1>病院新規登録</h1>
<% if @hospital.errors.any? %>
  <%= @hospital.errors.count %>件のエラーが発生しました
  <ul>
    <%= @hospital.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <%= form_with model: @hospital, url: public_hospitals_path, method: :post do |f| %>
    
  <div class="row">
    <%= f.label :name, "病院名", class: "col-5 col-form-label" %><br />
    <div class="col-6">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <%= f.label :address, "住所", class: "col-5 col-form-label" %><br />
    <div class="col-6">
      <%= f.text_area :address, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <%= f.label :phone_number, "電話番号", class: "col-5 col-form-label" %><br />
    <div class="col-6">
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <%= f.label :opening_hours, "営業時間", class: "col-5 col-form-label" %><br />
    <div class="col-6">
      <%= f.text_area :opening_hours, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <%= f.label :animal_types, "診察対象動物", class: "col-5 col-form-label" %><br />
    <div class="col-6">
      <%= f.text_field :animal_types, class: "form-control" %>
    </div>
  </div>



    <%= f.submit "登録する", class: "btn btn-warning" %>
  <% end %>
</div>
