<%= render "layouts/tag_form" %>
<div class="container my-5 text-muted">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow-lg border-0 rounded-4 overflow-hidden">
        <div class="row g-0">

          <!-- 左カラム -->
          <div class="col-md-5 p-4 bg-light">

            <% if @hospital.main_image.attached? %>
              <%= image_tag @hospital.main_image, class: "img-fluid rounded mb-3 w-100" %>
            <% end %>

            <div class="sub-images-container d-flex flex-wrap gap-2 mb-3">
              <% if @hospital.sub_images.attached? %>
                <% @hospital.sub_images.each do |image| %>
                  <%= image_tag image, class: "rounded shadow-sm image-style", size: "100x100" %>
                <% end %>
              <% end %>
            </div>

            <h5 class="mb-3 fw-bold text-secondary mt-3">
              <i class="bi bi-chat-dots"></i> レビュー
            </h5>

            <div class="mb-2">
              <%= link_to "新着順", public_hospital_path(@hospital, sort: 'new'), class: "btn btn-link p-0" %> |
              <%= link_to "評価の高い順", public_hospital_path(@hospital, sort: 'high_rating'), class: "btn btn-link p-0" %>
            </div>
            <hr>

            <div class="mb-3 text-end">
              <%= link_to "レビューを投稿する", new_public_hospital_review_path(hospital_id: @hospital.id), class: "btn btn-primary btn-sm" %>
            </div>
            <hr>

            <% if @reviews.any? %>
              <% @reviews.each do |review| %>
                <div class="border rounded p-3 mb-3 bg-white shadow-sm text-start">
                  <div class="d-flex align-items-center mb-2">
                    <% if review.user.image.attached? %>
                      <%= image_tag review.user.image, size: "40x40", class: "rounded-circle me-2" %>
                    <% else %>
                      <%= image_tag "no_image.jpg", size: "40x40", class: "rounded-circle me-2" %>
                    <% end %>
                    <strong><%= review.user.name %></strong>
                  </div>

                  <div id="review_rating_<%= review.id %>" class="mb-2"></div>

                  <script>
                      var elem = document.getElementById("review_rating_<%= review.id %>");
                      var opt = {
                          starOn: "<%= asset_path('star-on.png') %>",
                          starOff: "<%= asset_path('star-off.png') %>",
                          starHalf: "<%= asset_path('star-half.png') %>",
                          readOnly: true,
                          score: <%= review.rating %>
                      };
                      if (elem) elem.innerHTML = "";
                      raty(elem,opt);
                  </script>

                  <div class="d-flex justify-content-between align-items-center">
                    <span><%= review.body.truncate(15, omission: ' [...]') %></span>
                    <%= link_to "もっと見る", public_hospital_review_path(review.hospital, review), class: "btn btn-outline-primary btn-sm" %>
                  </div>

                  <div class="mt-2 text-end">
                    <%= render "public/favorites/favorite-btn", review: review %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="text-muted">レビューはまだありません。</p>
            <% end %>
          </div>

          <!--  右カラム  -->
          <div class="col-md-7 p-5">
            <h2 class="fw-bold mb-3 text-muted"><%= @hospital.name %></h2>

            <% @hospital.tags.each do |tag| %>
              <span class="badge text-primary border me-1"><%= tag.tag %></span>
            <% end %>

            <div class="mt-3">
              <h4>総合評価</h4>
              <div id="hospital_rating_<%= @hospital.id %>"></div>
              <p class="text-muted">平均：<%= @hospital.average_rating %> / 5</p>
            </div>

            <hr>
            <div class="mt-3">
              <strong>清潔さ</strong>
              <div id="hospital_cleanliness_rating_<%= @hospital.id %>"></div>
              <p class="text-muted">平均：<%= @hospital.average_cleanliness %> / 5</p>
            </div>

            <div class="mt-3">
              <strong>先生の対応</strong>
              <div id="hospital_doctor_rating_<%= @hospital.id %>"></div>
              <p class="text-muted">平均：<%= @hospital.average_doctor %> / 5</p>
            </div>

            <div class="mt-3">
              <strong>スタッフの対応</strong>
              <div id="hospital_staff_rating_<%= @hospital.id %>"></div>
              <p class="text-muted">平均：<%= @hospital.average_staff %> / 5</p>
            </div>

            <div class="mt-3">
              <strong>料金</strong>
              <div id="hospital_price_rating_<%= @hospital.id %>"></div>
              <p class="text-muted">平均：<%= @hospital.average_price %> / 5</p>
            </div>

            <div class="mt-3">
              <strong>待ち時間</strong>
              <div id="hospital_waiting_rating_<%= @hospital.id %>"></div>
              <p class="text-muted">平均：<%= @hospital.average_waiting %> / 5</p>
            </div>

            <hr>
            <div class="mb-2">
              <strong>住所：</strong>
              <%= @hospital.address %>
            </div>

            <div class="mb-2">
              <strong>電話番号：</strong>
              <%= @hospital.phone_number %>
            </div>

            <div class="mb-2">
              <strong>診察時間：</strong>
              <%= @hospital.opening_hours %>
            </div>

            <div class="mb-2">
              <strong>診察対応動物：</strong>
              <%= @hospital.animal_types %>
            </div>
          </div>
        </div>
        <div class="p-3 text-center">
          <%= link_to "病院一覧へ", public_hospitals_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var elem = document.getElementById("hospital_rating_<%= @hospital.id %>");
    var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        score: <%= @hospital.average_rating %>
    };
    if (elem) elem.innerHTML = "";
    raty(elem,opt);
</script>

<script>
    var elem = document.getElementById("hospital_cleanliness_rating_<%= @hospital.id %>");
    var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        score: <%= @hospital.average_cleanliness %>
    };
    if (elem) elem.innerHTML = "";
    raty(elem,opt);
</script>

<script>
    var elem = document.getElementById("hospital_doctor_rating_<%= @hospital.id %>");
    var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        score: <%= @hospital.average_doctor %>
    };
    if (elem) elem.innerHTML = "";
    raty(elem,opt);
</script>

<script>
    var elem = document.getElementById("hospital_staff_rating_<%= @hospital.id %>");
    var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        score: <%= @hospital.average_staff %>
    };
    if (elem) elem.innerHTML = "";
    raty(elem,opt);
</script>

<script>
    var elem = document.getElementById("hospital_price_rating_<%= @hospital.id %>");
    var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        score: <%= @hospital.average_price %>
    };
    if (elem) elem.innerHTML = "";
    raty(elem,opt);
</script>

<script>
    var elem = document.getElementById("hospital_waiting_rating_<%= @hospital.id %>");
    var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        score: <%= @hospital.average_waiting %>
    };
    if (elem) elem.innerHTML = "";
    raty(elem,opt);
</script>
