
<div>

  <% if user.image.attached? %>
    <%= image_tag user.image, size: "170x170" %>
  <% else %>
    <%= image_tag "no_image.jpg", size: "170x170" %>
  <% end %>

  <h3><%= user.name %></h3>
  <h4><%= user.introduction %></h4>

  <% unless user.guest_user? %>
    <div class="row">
      <p><%= link_to "プロフィール編集", edit_public_user_path(@user), class: "btn btn-warning" %></p>
      <p><%= link_to "退会手続へ", unsubscribe_public_users_path, class: "btn btn-danger" %></p>
    </div>
  <% end %>

</div>