<div class="check_box text-main-color">
  <span>タグ</span>
    <%= form.collection_check_boxes(:tag-ids, Tag.all, :id, :name) do |tag| %>
      <div>
        <%= tag.label do %>
          <%= tag.chek_box %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>