<!DOCTYPE html>
<html>
  <head>
    <title>Petty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/630024ec13.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "layouts/header" %>
        <% if flash[:alert] %>
          <p class="alert"><%= flash[:alert] %></p>
        <% end %>
        <% if flash[:notice] %>
          <p class="notice"><%= flash[:notice] %></p>
        <% end %>

      <div class="wrapper">
        <%= yield %>
      </div>

    <%= render "layouts/footer" %>
  </body>
</html>
